doctype html
html(lang='en')
  include ../common/header.pug
  +head("Lodos E2")
  header
    include ../common/navbar.pug
    +navbar(user)
  sidebar
    include ../common/sidebar.pug
    +sidebar(user)
  body.bg-secondary
    input#user(type="text" hidden=true name="user" value=user)
    .container
        form.form-horizontal.mt-5.bg-dark.rounded.pt-5.pb-3.text-light.h5.border.border-dark(action='/addVehicle', method='POST')
            .row
                .col-md-2
                .col-md-4
                    .form-group
                        label.control-label.col-sm-5(for='macAddress') MAC Adresi:
                        input#email.form-control(type='text',name='macAddress')
                .col-md-4
                    .form-group
                        label(for='sel1') Renk:
                        select#sel1.form-control(name='colorId')
                            option(value=0) Kırmızı
                            option(value=1) Mavi
                            option(value=2) Siyah
                            option(value=3) Beyaz
            .row
                .col-md-9
                .form-group
                    .col-sm-offset-2.col-sm-10
                    button.btn.btn-primary(type='submit') Kaydet


    include ../common/footer.pug
    +footer()
    script(src="/javascripts/formJS.js" type="text/javascript")
    // script(src="/javascripts/adminPage.js" type="text/javascript")


    