doctype html
html(lang='en')
  include ../common/header.pug
  +head("Login to Starter MVP")
  body.bg-secondary
    header
      include ../common/navbar.pug
      +navbar()
      
      
      
    
    
    
    include ../common/footer.pug
    +footer()