  ::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #343a40;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  #contents {
    position: relative;
    transition: .3s;
    background-color: #444a50;
    max-width: 1250px;
  }
  .margin {
    margin-left: 0 !important;
  }
  
  /* End side navigation bar  */

  /* Start welcome */
  
  .welcome {
    color: #CCC;
  }
  .welcome .content {
    background-color: #343a40;
    padding: 15px;
    margin-top: 25px;
  }
  .welcome h2 {
    font-family: Calibri;
    font-weight: 100;
    margin-top: 0
  }
  .welcome p {
    color: #999;
  }
  
/* Start statistics */
.statistics {
  margin-top: 25px;
  color: #CCC;
}
.statistics .box {
  background-color: #343a40;
  padding: 15px;
  overflow: hidden;
}
.statistics .box > i {
  float: left;
  color: #FFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
}
.statistics .box .info {
  float: left;
  width: auto;
  margin-left: 10px;
}
.statistics .box .info h3 {
  margin: 5px 0 5px;
  display: inline-block;
}
.statistics .box .info p {color:#BBB}

/* End statistics */
/* Start charts */
.charts {
  margin-top: 25px;
  color: #BBB
}
.charts .chart-container {
  background-color: #343a40;
  padding: 15px;
}
.charts .chart-container h3 {
  margin: 0 0 10px;
  font-size: 17px;
}

/* Start users */

.admins {
  margin-top: 25px;
}
.admins .box {

}
.admins .box > h3 {
  color: #ccc;
  font-family: Calibri;
  font-weight: 300;
  margin-top: 0;
}
.admins .box .admin {
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #313348;
  padding: 10px;
}
.admins .box .admin .img {
  width: 20%;
  margin-right: 5%;
  float: left;
}
.admins .box .admin .img img {
  border-radius: 50%;
}
.admins .box .info {
  width: 75%;
  color: #EEE;
  float: left;
}
.admins .box .info h3 {font-size: 19px}
.admins .box .info p {color: #BBB}

/* End users */
/* Start statis */

.statis {
  color: #EEE;
  margin-top: 15px;
}
.statis .box {
  position: relative;
  padding: 15px;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 25px;
}
.statis .box h3:after {
  content: "";
  height: 2px;
  width: 70%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.12);
  display: block;
  margin-top: 10px;
}
.statis .box i {
  position: absolute;
  height: 70px;
  width: 70px;
  font-size: 22px;
  padding: 15px;
  top: -25px;
  left: -25px;
  background-color: rgba(255, 255, 255, 0.15);
  line-height: 60px;
  text-align: right;
  border-radius: 50%;
}

/*chart*/
.chrt3 {
  padding-bottom: 50px;
}
.chrt3 .chart-container {
  height: 350px;
  padding: 15px;
  margin-top: 25px;
}
.chrt3 .box {
  padding: 15px;
}



  
  
.main-color {
  color: #ffc107
}
.warning {background-color: #f0ad4e}
.danger {background-color: #d9534f}
.success {background-color: #5cb85c}
.inf {background-color: #5bc0de}


/* Start media query */

@media (max-width: 767px) {
  #contents {
    margin: 0 !important
  }
  .statistics .box {
    margin-bottom: 25px !important;
  }
}


#map {
  width: 1190px;
  height: 450px;
  background: grey;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

#map canvas{
  border-radius: 15px;
}






*, *:before, *:after {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
a, h1, h2, h3 {

  line-height: 1;
}

.table {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  margin: 0px;
}

#main {
  width: 360px;
  height: 360px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  border-radius: 360px;
  background: -webkit-linear-gradient(285deg, #96181e 0%, #4d0307 100%);
  background: linear-gradient(165deg, #96181e 0%, #4d0307 100%);
  margin: 0 auto;
  box-shadow: 0 0 35px #4d0307;
}

#screen {
  color: #fff;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #010101;
  width: 340px;
  height: 340px;
  margin: 10px;
  border-radius: 100%;
  position: absolute;
  overflow: hidden;
}

#radial {
  position: absolute;
  margin: 20px;
  width: 300px;
  height: 300px;
  opacity: 0.5;
}
#radial #empty {
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: #000;
  border-radius: 100%;
  left: 5%;
  top: 5%;
  pointer-events: none;
}
#radial .tick {
  position: absolute;
  width: 1.5px;
  height: 100%;
  left: 50%;
  margin-left: -1px;
  background: #fff;
  pointer-events: none;
}

#home {
  position: absolute;
  mix-blend-mode: screen;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#home h1 {
  position: relative;
  text-align: center;
  position: absolute;
  top: 55%;
  margin-top: -55px;
  line-height: 100px;
  text-align: center;
  font-size: 80px;
  width: 100%;
  letter-spacing: 5px;
}
#home #mph {
  color: fff;
  opacity: 1;
  position: absolute;
  width: 100%;
  bottom: 70px;
  text-align: center;
  font-size: 52px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  font-weight: 100;
}
#home #status, #home h2 {
  width: 100%;
  font-size: 29px;
  opacity: 1;
  letter-spacing: 0.25px;
  position: absolute;
  top: 105px;
  text-transform: uppercase;
  color: #90fd90;
  font-weight: 200;
  text-align: center;
}

#home #icon img {
  width: 55px;
  
  opacity: 1;
  letter-spacing: 0.25px;
  position: absolute;
  top: 65px;
  left: 142px;
  text-transform: uppercase;
  color: #ab2424;
  font-weight: bold;
  text-align: center;
}

#main.pressed, #main:active {
  -webkit-transform: scale(0.9875);
          transform: scale(0.9875);
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#car {
  mix-blend-mode: screen;
  position: relative;
}
#car img {
  width: 140px;
  display: block;
  position: absolute;
  margin-top: 160px;
  left: 115px;
}
#car h2 {
  width: 100%;
  font-size: 30px;
  letter-spacing: 0.25px;
  position: absolute;
  top: 35px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  position: absolute;
}
#car h3 {
  width: 100%;
  font-size: 20px;
  opacity: 1;
  letter-spacing: 0.25px;
  position: absolute;
  top: 240px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  color: #fff;
}
#car h3 .small {
  font-size: 15px;
  display: block;
  font-weight: 300;
  color: #cc00ff;
  line-height: 2;
}


/* third screen style */

#cardva {
  mix-blend-mode: screen;
  position: relative;
}
#cardva img {
  width: 33px;
  display: block;
  position: absolute;
  margin-top: 145px;
  left: 175px;
}
#cardva h2 {
  width: 100%;
  font-size: 30px;
  letter-spacing: 0.25px;
  position: absolute;
  top: 35px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  position: absolute;
  opacity: 1;
}
#cardva h3 {
  width: 100%;
  font-size: 56px;
  opacity: 1;
  letter-spacing: 0.25px;
  position: absolute;
  top: 210px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  color: #fff;
}
#cardva h3 .small {
  font-size: 56px;
  font-weight: 100;
}