  ::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #343a40;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  #contents {
    position: relative;
    transition: .3s;
    background-color: #444a50;
    max-width: 1250px;
  }

  .margin {
    margin-left: 0 !important;
  }

  /* End side navigation bar  */

  .tablex {
    display: table;
    width: 100%;
    position: absolute;
    height: 100%;
  }

  .table-cellx {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
  }

  .stats{
    margin-left: auto;
    margin-right: auto;
    max-width: 1190px;
    background-color: #343a40;
  }


  /* Start statistics */
  .statistics {
    padding-top: 15px;
    color: #CCC;
    border-radius: 15px;
  }

  .statistics .box {
    background-color: #343a40;
    height: 400px;
    width: 400px;
    overflow: hidden;
  }

  .statistics .box>i {
    float: left;
    color: #FFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
  }

  .statistics .box .info {
    float: left;
    width: auto;
    margin-left: 10px;
  }

  .statistics .box .info h3 {
    margin: 5px 0 5px;
    display: inline-block;
  }

  .statistics .box .info p {
    color: #BBB
  }

  /* End statistics */

  

  /* Start charts */
  .charts {
    margin-top: 25px;
    color: #BBB;
  }

  .charts .chart-container {
    background-color: #343a40;
    padding: 15px;
  }

  .charts .chart-container h3 {
    margin: 0 0 10px;
    font-size: 17px;
  }


  

  /*chart*/

  .chart2{
    height: 400px !important;
  }

  .chrt3 {
    padding-bottom: 50px;
  }

  .chrt3 .chart-container {
    height: 350px;
    padding: 15px;
    margin-top: 25px;
  }

  .chrt3 .box {
    padding: 15px;
  }


  .statistics .row {
    margin: 0px;
  }

  .statistics .col-md-4 {
    padding: 0px;
  }


  .main-color {
    color: #ffc107
  }

  .warning {
    background-color: #f0ad4e
  }

  .danger {
    background-color: #d9534f
  }

  .success {
    background-color: #5cb85c
  }

  .inf {
    background-color: #5bc0de
  }


  /* Start media query */

  @media (max-width: 767px) {
    #contents {
      margin: 0 !important
    }

    .statistics .box {
      margin-bottom: 25px !important;
    }
  }



#map {
    width: 1190px;
    height: 450px;
    background: grey;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

#map canvas{
  border-radius: 15px;

}

#panel {
    width: 100%;
    height: 400px;
}


  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  a,
  h1,
  h2,
  h3 {

    line-height: 1;
  }


  #main {
    width: 360px;
    height: 360px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
    border-radius: 360px;
    background: -webkit-linear-gradient(285deg, #96181e 0%, #4d0307 100%);
    background: linear-gradient(165deg, #96181e 0%, #4d0307 100%);
    margin: 0 auto;
    box-shadow: 0 0 25px #4d0307;
  }

  #screen {
    color: #fff;
    z-index: 100;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #010101;
    width: 340px;
    height: 340px;
    margin: 10px;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
  }

  #radial {
    position: absolute;
    margin: 20px;
    width: 340px;
    height: 340px;
    opacity: 0.5;
  }
  #radial #empty {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #000;
    border-radius: 100%;
    left: 5%;
    top: 5%;
    pointer-events: none;
  }
  #radial .tick {
    position: absolute;
    width: 1.5px;
    height: 100%;
    left: 50%;
    margin-left: -1px;
    background: #fff;
    pointer-events: none;
  }

  #hiz {
    position: absolute;
    mix-blend-mode: screen;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #hiz h1 {
    position: relative;
    text-align: center;
    position: absolute;
    top: 15px;
    margin-top: 20px;
    line-height: 100px;
    text-align: center;
    font-size: 85px;
    width: 100%;
    letter-spacing: 5px;
  }

  #hiz #mph {
    color: fff;
    opacity: 1;
    position: absolute;
    width: 100%;
    top:125px;
    bottom: 70px;
    text-align: center;
    font-size: 52px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    font-weight: 100;
  }

  #hiz #sarjText,
  #hiz h2 {
    width: 100%;
    font-size: 25px;
    opacity: 1;
    letter-spacing: 0.25px;
    position: absolute;
    top: 200px;
    z-index: 100;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    text-align: center;
  }

  #hiz  i{
    width: 55px;
    height: 55px;
    opacity: 1;
    position: absolute;
    top: 185px;
    left: 137px;
    color: red;
    text-transform: uppercase;
  }

  #main.pressed,
  #main:active {
    -webkit-transform: scale(0.9875);
    transform: scale(0.9875);
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  #mainx {
    width: 280px;
    height: 280px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
    border-radius: 360px;
    z-index: 1;
    background: -webkit-linear-gradient(285deg, #96181e 0%, #4d0307 100%);
    background: linear-gradient(165deg, #96181e 0%, #4d0307 100%);
    margin: 0 auto;
    box-shadow: 0 0 35px #4d0307;
  }

  #screenx {
    color: #fff;
    z-index: 100;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #010101;
    width: 260px;
    height: 260px;
    margin: 10px;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
  }


  


  #akim {
    mix-blend-mode: screen;
    position: relative;
  }

  #akim img {
    width: 140px;
    display: block;
    position: absolute;
    margin-top: 160px;
    left: 115px;
  }

  #akim h2 {
    width: 100%;
    font-size: 30px;
    letter-spacing: 0.25px;
    position: absolute;
    top: 150px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    position: absolute;
  }

  #akim h1{
    width: 100%;
    font-size: 70px;
    opacity: 1;
    letter-spacing: 0.25px;
    position: absolute;
    top: 60px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    color: #fff;
  }



  /* third screen style */

  #sicaklik {
    mix-blend-mode: screen;
    position: relative;
  }

  #sicaklik img {
    width: 20px;
    display: block;
    position: absolute;
    margin-top: 40px;
    left: 175px;
  }

  #sicaklik h2 {
    width: 100%;
    font-size: 25px;
    letter-spacing: 0.25px;
    position: absolute;
    right: 25px;
    top: 40px;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    position: absolute;
    opacity: 1;
  }

  #sicaklik h3 {
    width: 100%;
    font-size: 33px;
    opacity: 1;
    letter-spacing: 0.25px;
    position: absolute;
    top: 115px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    color: #fff;
  }

  #sicaklik h3 .small {
    font-size: 27px;
    font-weight: 100;
  }