mixin navbar(user)
  nav.navbar.navbar-expand.navbar-dark.bg-dark.prl-0
    a(href="/", aria-label="Golden Goose").navbar-brand.mr-0.md-2
      img(src="/images/icon.png", width="50", height="50")
    .collapse.navbar-collapse
    .navbar-right
      if user
        span.mr-3.navbar-text #{user.name} #{user.lastname}
    .navbar-right
      a.btn.btn-dark(href='javascript:void(0)', onclick='toggleNav()',style="font-size:30px;",id="sidebarButton") ☰
  